.header{
  background-color: #0000FF;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title{
    span{
      &:first-child {
        font-size: 36px;
        color: #ffffff;
      }
      &:last-child{
        margin-left: 10px;
        &:hover{
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  .sign-out-button, .profile-button{
    button{
      outline: none;
      padding: 5px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
