<div class="sign-up">
  <div class="title">
    <span>Sign up</span>
  </div>
  <div class="sign-up-content">
    <div class="sign-up-fields">
      <form role="form" (keydown)="keyDownFunction($event)">
      <!-- for simple Users -->
        <div class="email">
          <input
            required
            [(ngModel)]="userData.email"
            name="email"
            class="form-control email-input"
            type="text"
            placeholder="Email">
          <span *ngIf="checkEmail && !emptyEmailField" class="email-rule">Enter Your Email</span>
          <span *ngIf="!checkEmail || emptyEmailField" class="error">Enter valid email</span>
        </div>
        <div class="password">
          <input
            required
            [(ngModel)]="userData.password"
            name="password"
            class="form-control password-input"
            type="password"
            placeholder="Password">
          <span *ngIf="checkPassword && !emptyPasswordField" class="password-rule">Password must be at least 6 characters</span>
          <span *ngIf="!checkPassword || emptyPasswordField" class="password error">Enter valid password</span>
        </div>
        <div class="confirm-password">
          <input
            required
            [(ngModel)]="confpass"
            name="confpass"
            class="form-control confirm-password-input"
            type="password"
            placeholder="Confirm password">
          <span *ngIf="comparePasswords && !emptyPasswordField" class="confirm-password-rule">Enter same password</span>
          <span *ngIf="!comparePasswords || emptyPasswordField" class="error">Passwords didn't match</span>
        </div>
        <div class="username">
          <input
            required
            [(ngModel)]="userData.username"
            name="username"
            class="form-control username-input"
            type="text"
            placeholder="Username">
          <span *ngIf="checkUsername && !emptyUsernameField" class="username-rule">Name should be at least 4 charachters</span>
          <span *ngIf="!checkUsername || emptyUsernameField" class="error">Enter valid username</span>
        </div>
        <div class="role">
          <label for="role">Role</label>
          <select
            [(ngModel)]="userData.role"
            (change)="onChangeRole($event.target.value)"
            name="role">
            <option [value]="roles.user">User</option>
            <option [value]="roles.company">Company</option>
          </select>
        </div>
        <!-- for Companies -->
        <div *ngIf="showCompanyFields" class="address">
          <input
            required
            [(ngModel)]="companyData.address"
            name="address"
            class="form-control address-input"
            type="text"
            placeholder="Address">
          <span *ngIf="!emptyAddressField" class="address-rule">Enter your address</span>
          <span *ngIf="emptyAddressField" class="error">Shouldn't be empty</span>
        </div>
        <div *ngIf="showCompanyFields" class="name">
          <input
            required
            [(ngModel)]="companyData.name"
            name="name"
            class="form-control name-input"
            type="text"
            placeholder="Name">
          <span *ngIf="checkName && !emptyNameField" class="name-rule">Enter your name</span>
          <span *ngIf="!checkName || emptyNameField" class="error">Name should be at least 4 charachters</span>
        </div>
        <div *ngIf="showCompanyFields" class="category">
          <select
            [(ngModel)]="companyData.category"
            name="category">
            <option [value]="categories.IT">IT</option>
            <option [value]="categories.notIT">notIT</option>
          </select>
        </div>
        <div *ngIf="showCompanyFields" class="product">
          <select
            [(ngModel)]="companyData.product"
            name="product">
            <option [value]="products.ITProduct">ITProduct</option>
            <option [value]="products.notITProduct">notITProduct</option>
          </select>
        </div>
        <div class="error">
          <span *ngIf="this.usersService.signUpError">Invalid Credentials</span>
        </div>
        <div class="have-account">
          <span (click)="haveAnAccount()">Sign In</span>
        </div>
        <div class="sign-up-button">
          <button (click)="signUp()" class="sign-up" type="button">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
