<div class="sign-in">
  <div class="title">
    <span>Sign in</span>
  </div>
  <div class="sign-in-content">
    <div class="sign-in-fields">
      <form role="form" (keydown)="keyDownFunction($event)">
        <!-- for simple Users -->
        <div class="email">
          <input
            required
            [(ngModel)]="signInData.email"
            name="email"
            class="form-control email-input"
            type="text"
            placeholder="Email">
        </div>
        <div class="password">
          <input
            required
            [(ngModel)]="signInData.password"
            name="password"
            class="form-control password-input"
            type="password"
            placeholder="Password">
        </div>
        <div class="error">
          <span *ngIf="this.authService.signInError">Invalid Credentials</span>
        </div>
        <div class="dont-have-account">
          <span (click)="dontHaveAnAccount()">Sign Up</span>
        </div>
        <div class="sign-in-button">
          <button (click)="signIn()" class="sign-up" type="button">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>

