<div class="user-profile">
  <div class="wrapper">
    <div class="email">
      <span class="title">Email:</span>
      <span>{{this.authService.user.email}}</span>
    </div>
    <div class="username">
      <span class="title">Username:</span>
      <span *ngIf="!editable">{{this.authService.user.username}}</span>
      <input
        *ngIf="editable"
        [(ngModel)]="editInfoData.username"
        name="username"
        class="form-control username-input"
        type="text"
        placeholder="username">
    </div>
    <div class="role">
      <span class="title">Role:</span>
      <span>{{this.authService.user.role}}</span>
    </div>
    <div *ngIf="companyUser || userToCompany" class="address">
      <span class="title">Address:</span>
      <span *ngIf="!editable">{{this.authService.user.address}}</span>
      <input
        *ngIf="editable"
        [(ngModel)]="editInfoData.address"
        name="address"
        class="form-control address-input"
        type="text"
        placeholder="address">
    </div>
    <div *ngIf="companyUser || userToCompany" class="name">
      <span class="title">Name:</span>
      <span *ngIf="!editable">{{this.authService.user.name}}</span>
      <input
        *ngIf="editable"
        [(ngModel)]="editInfoData.name"
        name="name"
        class="form-control name-input"
        type="text"
        placeholder="name">
    </div>
    <div *ngIf="companyUser || userToCompany" class="category">
      <span class="title">Category:</span>
      <span *ngIf="!editable">{{this.authService.user.category}}</span>
      <select
        *ngIf="editable"
        [(ngModel)]="editInfoData.category"
        name="category">
        <option [value]="categories.IT">IT</option>
        <option [value]="categories.notIT">notIT</option>
      </select>
    </div>
    <div *ngIf="companyUser || userToCompany" class="product">
      <span class="title">Product:</span>
      <span *ngIf="!editable">{{this.authService.user.product}}</span>
      <select
        *ngIf="editable"
        [(ngModel)]="editInfoData.product"
        name="product">
        <option [value]="products.ITProduct">ITProduct</option>
        <option [value]="products.notITProduct">notITProduct</option>
      </select>
    </div>
    <button *ngIf="showEditButton" (click)="editInfo()">Edit</button>
    <button *ngIf="!showEditButton" (click)="saveInfo()">Save</button>
    <button *ngIf="!showEditButton" (click)="cancel()">Cancel</button>
  </div>
</div>
